@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #DD7A83;
  --primary-dark-color: #031544;
  --primary-color-2: #F07167;
  --primary-bg-color: #DD7A83;
  --primary-bg-color-2: #E3BFC3;
  --primary-bg-dark-color-1: #1e293b;
  --primary-bg-dark-color-2: #334155;
  --text-dark-color:#e5e7eb;
  --btn-primary-bg-from: #F07167;
  --btn-primary-bg-to: #FED9B7;
  --btn-primary-hover-bg-from: #DD7A83;
  --btn-primary-hover-bg-to: #E3BFC3;
  --btn-primary-bg-dark-from: #031544;
  --btn-primary-bg-dark-to: #1C3CA1;
  --btn-primary-hover-bg-dark-from: #10265e;
  --btn-primary-hover-bg-dark-to: #2f4aa3;
}

@font-face {
  font-family: pt_serif_bold_italic;
  src: url('/src/assets/fonts/PTSerif-BoldItalic.ttf');
}

@font-face {
  font-family: PBEV;
  src: url('/src/assets/fonts/PlaywriteBEVLG-Regular.ttf');
}


@font-face {
  font-family: dancing_bold;
  src: url('/src/assets/fonts/DancingScript-Bold.ttf');
}

.font-pt-serif-bold-italic {
  font-family: 'pt_serif_bold_italic';
}

.font-play_write {
  font-family: 'PBEV';
}

.font-dancing-bold {
  font-family: 'dancing_bold';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 999px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
  border-radius: 999px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
